<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            text-align: center;
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin-top: 100px;
        }

        h1 {
            font-size: 2em;
            color: #ff6347;
        }

        p {
            font-size: 1.2em;
        }

        .fun-message {
            margin-top: 20px;
            font-style: italic;
        }

        .error-image {
            margin-top: 30px;
        }
    </style>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0S9N79BY4C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0S9N79BY4C');
</script>
<body>
    <h1>Oops! Page Not Found.</h1>
    <p>This page is not found but we're working hard to fix this issue.</p>
    <div class="fun-message">
        <p>Meanwhile, here's a fun fact to brighten your day:</p>
        <p><strong>Did you know?</strong> Honey never spoils. Archaeologists have found pots of honey in ancient Egyptian tombs that are over 3000 years old and still perfectly good to eat!</p>
    </div>
    <div class="error-image">
        <img src="kittens.jpg" alt="Fun Image" width="300">
    </div>
</body>
</html>
